<div class="nav-wrapper" ng-controller="sideBarCtl">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>

        <li>
            <a md-button aria-label="meanu" href="#/overview/overview" style="font-size: 15px">
                <i class="fa fa-globe" style="font-size: 15px"></i>
                总览
            </a>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/singleSelect/singleSelect" style="font-size: 15px">
                <i class="fa fa-dot-circle-o" style="font-size: 15px"></i>
                单选
                <!--md-tooltip md-direction="right">单选</md-tooltip-->
            </a>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/multiSelect/multiSelect" style="font-size: 15px">
                <i class="fa fa-check-square-o" style="font-size: 15px"></i>
                多选
                <!--md-tooltip md-direction="right" >多选</md-tooltip-->
            </a>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/judge/judge" style="font-size: 15px">
                <i class="fa fa-check" style="font-size: 15px"></i>
                判断
                <!--md-tooltip md-direction="right">判断</md-tooltip-->
            </a>
        </li>
        
        <li class="nav-divider"></li>
    </ul>
</div>