@media screen and (min-width: 768px) {

    .app > .main-container > .content-container {
        height: 100%;
    }

    .view-container {
        height: 100%;
    }

    .content-container {
        height: 100%;
    }

    .row {
        height: 100%;
    }

    .side-left {
        height: 100%;
        overflow: hidden;
    }

    .main, .c-view-wrap, .c-profile-wrap {
        height: 100%;
        position: relative;
    }

    .main .c-wrap {
        position: absolute;
    }
    .c-list{
        overflow: auto;
        position: absolute;
        top: 51px;
        bottom: 0;
    }

}



