.ovh{overflow: hidden;}


.header-top{height: 50px; background-color: #0073b0; position: fixed; z-index: 2; top: 0; left: 0; right: 0;box-sizing: border-box;}
.header-top .logo{line-height: 50px;float: left; color: #fff; font-size: 24px; padding: 0 20px;border-right: 1px solid #005ca0;}
.header-top .group{border-right: 1px solid #005ca0; padding: 0 10px;  float: left; position: relative }
.header-top .group:hover{background-color: rgba(0,0,0,0.1);}
.header-top .group.active{background-color: #106091; }
.header-top a{color: #fff;line-height: 50px; display: inline-block; padding: 0 15px; font-size: 14px;}

#head-menu{background: #0073b0;margin: 0;border-radius: 0 0 4px 4px; opacity: 0.96;}
#head-menu>li>a{color: #fff; padding: 10px 20px;}
#head-menu>li>a:hover{background: #106091;color: #fff; text-decoration: none; outline: none;}

.nav-top{height: 50px; background-color: #003F61;position: fixed; overflow: hidden; top: 50px; left: 0; right: 0;box-sizing: border-box;}
.nav-top .nav-wrap{padding: 10px; position: relative;}
.nav-top a{display: inline-block; height: 30px; line-height: 30px; padding: 0 10px;color: #fff; border-radius: 15px;}
.nav-top a:hover{background-color: rgba(0,0,0,0.1);}
.nav-top .active{background-color: #072D52;}

.header-top .fa,.nav-top .fa{margin-right: 3px;}


.side-left{background-color: #fff; border-right: 1px solid #C9D7DF;overflow-x: hidden;box-sizing: border-box; padding: 0}
.side-left .header{ height: 50px; position: relative;border-bottom: 1px solid #dce5eb; z-index: 1; padding: 5px 5px;}
.main nav{height: 50px;border-bottom: 1px solid #0073b0; position: relative;}
.c-list{overflow: auto; position: inherit;width: 100%;}
.inbox-c-list-item{position: relative;}
.c-list-item{overflow: hidden;border-bottom: 1px solid #c9d7df; position: relative;display: block; padding: 10px;}
.inbox-c-list-item:hover,.c-list-item-active{background-color: #f0f4f7;}
.c-list-item .ava{display: inline-block;width: 32px;text-align: right;vertical-align: top;}
.c-list-item-active .ava {width: 48px;}
.c-list-item-active .ava img{width: 48px; height:48px;}
.c-list-item .user b{ font-size: 14px; display: inline-block; margin: 0 0 0 5px;}
.c-list-item-active .user b{ font-size: 25px; display: inline-block; margin: 0 0 0 10px; color: #0073b0}
.c-list-item .summary{margin: 5px 0 0;}
.c-list-item .summary b{font-weight: normal;color: #999; margin: 0 0 0 10px; border-left: 2px solid #0288D1; padding: 0 0 0 10px;display: inline-block;}
.inbox-c-list-item time,.inbox-c-list-item .close{position: absolute; right: 10px; top: 10px;color: #a7bfcb; font-size: 12px;}
.side-left header i{margin-left: 10px;}
.custom-select,.secondary{height: 32px; line-height: 32px;display: inline-block; position: absolute; left: 10px; top: 9px;color: #586976;padding: 0 10px; border: 1px solid transparent;border-radius: 2px;}
.custom-select2{height: 32px; line-height: 32px;display: inline-block; float:left; margin-left: 10px; margin-top: 9px;color: #586976;padding: 0 10px; border: 1px solid transparent;border-radius: 2px;}
.custom-select:hover,.secondary:hover{cursor: pointer; border:1px solid #A5B9C5; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),inset 0 1px 2px 0 transparent;}
.custom-select2:hover{cursor: pointer; border:1px solid #A5B9C5; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),inset 0 1px 2px 0 transparent;}
.secondary{left: auto;right: 10px;}


.c-part-vote{border: 1px solid #ddd; background: #fff;padding: 10px; border-radius: 5px; overflow: hidden; margin: 0 120px 35px 0; width:100%; text-align: left;}
.c-part-vote h2{font-size: 14px; color: #000; margin: 0 0 10px;}
.c-part-vote p{margin: 0 0 10px; }
.c-part-vote .btn-wrap{border-top: 1px solid #eee;margin: 10px -10px -10px; text-align: center;}
.c-part-vote .btn-wrap a{display: inline-block; width: 50%; padding: 10px 0; color: #999; font-size: 16px; box-sizing: border-box;}
.c-part-vote .btn-wrap a:first-child{border-right: 1px solid #eee;}
.c-part-vote input{ width: 100%; box-sizing: border-box; padding: 5px;}

.c-part-form{border: 1px solid #ddd; background: #fff;padding: 10px; border-radius: 5px; overflow: hidden; margin: 0 75px 35px 0; width:100%; text-align: left;}
.c-part-form h2{font-size: 14px; color: #000; margin: 0 0 5px;}
.c-part-form p{margin: 0 0 10px;}
.c-part-form input{ width: 100%; box-sizing: border-box; padding: 5px;}
.c-part-form .btn-wrap{overflow: hidden; margin: 10px -10px 0; padding: 10px 10px 0; border-top: 1px solid #eee;}
.c-part-form .btn-wrap a{display: inline-block;padding: 5px 10px; border-radius: 3px; background: #0071b2; color: #fff; float: right; }

.c-part-news{border: 1px solid #ddd; background: #fff;padding: 10px; border-radius: 5px; overflow: hidden; margin: 0 75px 35px 0; width: 100%}
.c-part-news h2{font-size: 14px; color: #000; margin: 0 0 5px;}
.c-part-news p{margin: 0 0 0 100px; color: #666;}
.c-part-news img{ display: block; float: left;}
.c-part-news input{ width: 100%; box-sizing: border-box; padding: 5px;}
.c-part-news textarea{ box-sizing: border-box; padding: 5px; float:right;}

.table{background: #fff;margin: 0;border: 1px solid #ddd;}


.main {min-height: 100%; position: relative; padding: 0;}
.main .main-header{height: 50px;border-bottom: 1px solid #c9d7df; position: relative;background-color: #fff; text-align: center;}
.main .main-header b{font-size: 14px; line-height: 50px;}
.main .main-header .closeConv{position: absolute; right: 10px; top: 9px;}
.main .main-header .forwardConv{position: absolute; left: 10px; top: 9px;}
.main .c-wrap{position: inherit; left: 0; top: 51px; bottom: 0; width: 100%;overflow-x: hidden;}
.main .c-wrap-inner{display:-ms-flexbox;display: -webkit-flex;display: flex;flex-direction: column;-webkit-flex-direction: column;-ms-flex-direction: column;height: 100%;}
.main .c-stream{padding: 15px;-webkit-flex: 8;-ms-flex: 8;flex: 8; overflow-y: auto; position: relative;}
.main .c-textarea{ padding: 10px; }
.c-textarea-wrap{background: #fff;border: 1px solid #c9d7df; }
.c-textarea-wrap header{padding: 10px;border-bottom: 1px solid #c9d7df;}
.c-textarea-wrap .form textarea{padding: 10px;width: 100%;box-sizing: border-box;border: 0;outline: none; font-size:12px; font-family:"helvetica neue","helvetica"; line-height: 1.5; }
.c-textarea-wrap .form textarea:focus{border: 0;}
.c-textarea-wrap .editor{width: 100%;outline: none; min-height: 4em;line-height: 1.5;box-sizing: border-box; padding: 10px; font-size: 14px;}
.c-textarea-wrap .form section{overflow: hidden;padding: 5px; position: relative;}
.c-textarea-wrap .form section button{ cursor: pointer; border: 0;background-color: #038BCF; padding: 8px 20px; color: #fff; border-radius: 2px; float: right;}


.c-part{padding: 0 75px 0 45px; position: relative; margin: 0 0 15px;}
.c-part .ava{width: 32px; height: 32px; position: absolute; left: 0; overflow: hidden; }
.c-part .ava a{display: inline-block; height: 100%;width: 100%; line-height: 32px; text-align: center; color: #fff;border-radius: 3px; background-color: #ad8098;}
.c-part article{ margin: 0 0 5px; position: relative;}
.c-part article p{display: inline-block;background:#5CACE4; padding: 8px 10px; color: #fff; line-height: 1.5; text-align: left; border-radius: 3px; margin: 0 0 0 0;}
.c-part article:before{ position: absolute;top: 10px;left: -10px;width: 0;height: 0;content: '';border: 5px solid transparent; border-color: transparent;border-right-color: #5CACE4; }
.c-part time{color: #aaa; font-size: 12px;vertical-align: top;}

.c-part-admin{padding: 0 45px 0 75px;}
.c-part-admin .ava{left: auto;right: 0;}
.c-part-admin .ava a{display: inline-block; height: 100%;width: 100%; line-height: 32px; text-align: center; color: #fff;border-radius: 3px; background-color: #009900;}
.c-part-admin article{text-align: right;}
.c-part-admin article p{background:#46BE8A;}
.c-part-admin article:before{ left: auto;right: -10px;border-right-color: transparent;border-left-color: #46be8a;}
.c-part-admin time{display: block; text-align: right; }

.c-part-system{position: relative; margin: 0 0 35px; text-align: center;}
.c-part-system article{text-align: center;background: #f0f4f7;display: inline-block; position: relative; padding: 0 10px;}
.c-part-system:before {position: absolute;top: 50%;left: 0;width: 100%;content: "";height: 1px;background-color: #d5dee3;overflow: hidden;}
.c-part-system article p{color: grey; }

.c-view-wrap{position: inherit;left: 0;top: 0;bottom: 0;}

.c-profile-wrap{border-left: 1px solid #c9d7df;box-sizing: border-box;overflow-y: auto;padding: 15px;position: inherit;right: 0;top: 0;bottom: 0;background-color: #fff;}
.c-profile-wrap .user-info{display:-ms-flexbox;display: -webkit-flex;display: flex; margin: 0 0 20px;}
.c-profile-wrap .user-info .ava{width: 48px;height: 48px;display: inline-block; text-align: center;line-height: 48px;color: #fff; margin: 0 10px 0 0; font-size: 36px;}
.c-profile-wrap .user-info h2{font-size: 14px; font-weight: bold; margin: 0 0 5px;}
.c-profile-wrap .hr{height: 0;margin: 20px 0;border: 0;border-top: 1px solid #e1e7ea;background-color: transparent;display: block;}
.c-profile-wrap h3{font-weight: bold; font-size: 14px; margin: 15px 0 10px;}
.c-profile-item{margin: 10px 0; font-size: 14px; color: #999;}
.c-profile-item b{font-weight: normal;margin: 0 15px 0 5px;color: #78909c;}
.btn-add-tag{padding: 5px 10px;border-radius: 15px;border: 1px solid #dbe2e8;color: #78909c;display: inline-block; margin: 0 10px 0 0;}

.timeline{position: relative;}
.timeline ul{padding: 0;}
.timeline li{position: relative; padding: 0 0 20px; list-style: none;}
.timeline time{display: inline; position: absolute;left: 10px;top: 1px;}
.timeline i{width: 14px; height: 14px;font-size: 0; background: #fff; line-height: 1; text-align: center; overflow: hidden; display: inline-block; border: 1px solid #ddd; border-radius: 50%; vertical-align: middle; position: absolute; left: 130px;top: 0;}
.timeline i b{display: inline-block; background: #ddd; border-radius: 50%; width: 10px;height: 10px; margin: 1px auto 0;}
.timeline .t-r{padding-left: 160px; font-size: 14px;}
.timeline .t-r span{color:#038BCF; cursor: pointer;}
.timeline .t-c{color: #999;padding: 5px 0 0;}
.timeline .t-c p{line-height: 1.5; font-size: 12px;}
.timeline .line{height: 100%;border-left: 1px solid #ddd; position: absolute; left: 137px; top: 0;}









.filter{
    margin: 5px 20px 15px;
    font-size: 14px;
}
.filter input[type=checkbox]{margin: 0;}
.filter-conditions{
    margin-top: 5px;
    padding: 10px 5px 10px 15px;
    background-color: #eff3f5;
    border-radius: 3px;
}
.filter-conditions table, th{
    text-align: center;
}
.filter-conditions table{
    margin: 5px;
}
.filter-conditions table, td{
    font-size: 14px;
    margin-top: 5px;
}
.filter-conditions input {
    margin: 5px;
    padding: 2px;
}

.main-total {position: fixed; top: 100px; left: 0; right: 0; bottom: 0; overflow: auto;box-sizing: border-box;}
.badge{
    background-color: #ee5f5b;
}



.ovh .group {
    float: right;
    margin-left: 2px;
}

.nav-badge {    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #ee5f5b;
    border-radius: 10px;
}

md-tooltip {
    font-size: 20px;
}

.row{margin:0;}

.ta-editor.ta-html, .ta-scroll-window.form-control {
    min-height: 150px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.ta-scroll-window.form-control {
    position: relative;
    padding: 0;
}

.ta-scroll-window > .ta-bind {
    height: auto;
    min-height: 150px;
    padding: 6px 12px;
}
